<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" 
  data-natural-width="1400" data-natural-height="350">
  
  <div id="subheader">
    <div id="sub_content">
      <h1 *ngIf="isRestartable">Cambia tu contraseña</h1>
      <h1 *ngIf="!isRestartable">Lo sentimos tu link <br> no es valido o ha caducado</h1>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
  <div class="container">
  </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div *ngIf="isRestartable" class="container margin_60">
  <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Cambia tu contraseña</h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form [formGroup]='resetPasswordForm'>
        <div class="row">
          <div class="col-md-12">
            <label>Nueva Contraseña:</label>
            <input type="password" class="form-control" formControlName="contrasena" placeholder="Contraseña *" id="password1">
            <div *ngIf="resetPasswordForm.controls['contrasena'].errors?.required && (resetPasswordForm.controls['contrasena'].dirty || resetPasswordForm.controls['contrasena'].touched || submit)"
              class="error_message">
              La contraseña es necesaria
            </div>
          </div>
          <div class="col-md-12">
            <label>Confirmar Contraseña:</label>
            <input type="password" class="form-control" formControlName="confirmContrasena" placeholder="Confirmar Contraseña *"
              id="password2">
            <div *ngIf="resetPasswordForm.controls['confirmContrasena'].errors?.required && (resetPasswordForm.controls['confirmContrasena'].dirty || resetPasswordForm.controls['confirmContrasena'].touched || submit)"
              class="error_message">
              Confirmar la contraseña es necesario
            </div>
            <div *ngIf="(resetPasswordForm.controls['confirmContrasena'].value !== resetPasswordForm.controls['contrasena'].value) && resetPasswordForm.controls['confirmContrasena'].dirty"
              class="error_message">
              Las contraseñas deben ser iguales
            </div>
          </div>
        </div>
        <hr style="border-color:#ddd;">
        <div class="text-center"><button (click)="resetPassword()" class="btn_full">Cambiar Contraseña</button></div>
      </form>
    </div><!-- End col  -->
  </div><!-- End row  -->
</div><!-- End container  -->

<div *ngIf="!isRestartable" class="container margin_60">
  <div class="text-center"><button routerLink='/shop' class="btn_full">Ir al inicio</button></div>
</div>
<!-- End Content =============================================== -->