<div class="animated fadeIn">
  <!-- SubHeader =============================================== -->
  <section class="parallax-window parallax_img" id="short" data-parallax="scroll"
    data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
      <div id="sub_content">
        <h1 class="tipo_negocio">Tipos de Negocio</h1>
        <div class="descripcion_negocio"><i class="icon_pin"></i> Selecciona el tipo de negocio que estás buscando</div>
      </div><!-- End sub_content -->
    </div><!-- End subheader -->
  </section><!-- End section -->
  <!-- End SubHeader ============================================ -->

  <div id="position">
    <div class="container">
      
    </div>
  </div><!-- Position -->

  <div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
  </div><!-- End Map -->

  <!-- Content ================================================== -->
  <div class="container margin_60_35">
    <div class="row">

      <div class="col-md-12">

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 wow zoomIn" *ngFor="let tipo of tiposNegocio" >
            <a class="strip_list grid business_type" (click)="navigateToProducts(tipo.id)" style="max-width: 400px; max-height: 400px; margin-top: 25px;
            margin-right: auto;
            margin-bottom: 25px;
            margin-left: auto;
            box-shadow: 0px 10px 10px #00000085;">
              <img [src]="getUrl(tipo.id)" alt="" style="max-width: 100%; max-height: 100%;">
            </a><!-- End strip_list-->
          </div><!-- End col-md-6-->

        </div><!-- End row-->

      </div><!-- End col-md-9-->

    </div><!-- End row -->
  </div><!-- End container -->
  <!-- End Content =============================================== -->
</div>