.business_type{
    padding: 0px;
    border-radius: 10px;
}

.business_type > img{
    border-radius: 10px;
}

.tipo_negocio{
    font-size: 40px !important
}

.descripcion_negocio{
    font-size: 20px !important
}