<div class="animated fadeIn">
  <!-- SubHeader =============================================== -->
  <section class="parallax-window parallax_img" id="short" data-parallax="scroll"
    data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
      <div id="sub_content">
        <h1><i class="icon_cart_alt"></i> Mis Ordenes</h1>
      </div><!-- End sub_content -->
    </div><!-- End subheader -->
  </section><!-- End section -->
  <!-- End SubHeader ============================================ -->

  <div id="position">
    <div class="container">

    </div>
  </div><!-- Position -->

  <div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
  </div><!-- End Map -->

  <!-- Content ================================================== -->
  <div class="container margin_60_35">
    <div *ngIf="orders" class="row">
      <div class="col-md-12 col-sm-12 wow zoomIn" *ngFor="let order of orders; index as i">
        <div class="strip_list grid">
          <div class="row">
            <div class="col-md-12">
              <h3>Orden <strong>{{order.serial}}</strong> {{order.estado | orderState}} <span *ngIf="order.estado == 4 || order.estado == 5"><strong>({{order.domiciliario}})</strong></span>
                {{order.hora_fin | date: 'short'}}</h3>
            </div>
            <hr>
            <div class="col-md-6">
              <h4 *ngFor="let product of order.productos"><span class="icon_box-checked"></span>{{product.producto.nombre}}
                <span class="product-items" *ngFor="let item of product.items">
                  <span> + {{item.nombre}} <span *ngIf="item.seCobra">({{item.precio |
                      currency: 'USD' : 'symbol' : '1.0-0' }})</span></span>
                </span>
                <span *ngIf="product.nota !== '' && product.nota !== null && product.nota !== undefined"><br>Nota:
                  {{product.nota}}</span>
                {{product.producto.precio_venta |
                currency: 'USD' : 'symbol' : '1.0-0' }} X {{product.qty}} <br>
              </h4>
              <h4>
                <strong>Envio:</strong> {{order.valor | currency: 'USD' : 'symbol' : '1.0-0'}}
              </h4>
              <hr>
              <h1>
                <strong>Total: {{getTotal(i) | currency: 'USD' : 'symbol' : '1.0-0'}}</strong>
              </h1>
            </div>
            <div *ngIf="order.productos.length > 0" class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumb_strip"><img [src]="getUrl(order.almacenId)" onError="this.src='../../../assets/img/riing.webp'"
                      alt="thumb"></div>
                </div>
                <div class="col-md-8 hidden-xs">
                  <h5>Vendedor:</h5>
                  <h3>{{order.almacen}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- End col-md-6-->

    </div><!-- End row-->

  </div><!-- End col-md-9-->

  <!-- End Content =============================================== -->
</div>