@charset "UTF-8";
/* YOUR CUSTOM CSS */

.product-detail-img {
    /*max-width: 100%;*/
    max-height: 350px;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    width: 105%;
}

.product-option-label{
    cursor: pointer;
    margin: 0 .2em;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    color: #716d6d;
}

.product-option-price{
    display: block;
    font-size: .9rem;
    color: #A9B1B7;
}

.form-group-options{
    margin-bottom: -20px;
}

.product-option-input{
    vertical-align: top;
}

.product-detail-note {
    font-size: 1.5rem;
    padding: 10px 10px 10px;
    min-height: 20px;
    top: 0px;
    border-color: #ec008c;
    background: #ec008c;
    color: #fff;
    text-align: center;
    padding-left: 5p;
}

.modal-product-detail{
    position: relative;
    padding: 1px 30px 10px 30px;
    text-align: center;
    background: #ffffff;
    border-radius: 0px;
    border: none;
}

.order-side{
    text-align: center;
}

.order-side i {
    font-size: 52px;
    display: inline-block;
    color: #999;
}

.alert-fixed {
    position: fixed;
    width: 20%;
    min-width: 250px;
    right: 1%;
    bottom: 10%;
}

.btn-qty{
    color: #fff;
    background: #ff8a33;
}

.notification-pill{
    position: absolute;
    top: 30%;
    border-radius: 15px;
    margin-top: -16px;
    margin-left: 0;
    padding-right: 0.3em;
    padding-left: 0.3em;
    color: #fff;
    background-color: #f86c6b;
}

.notification-active{
    color: yellow;
    border-color: #717143;
}