<!-- Header ================================================== -->
<header [ngClass]="{'sticky': itsScrolled}">
  <div class="container-fluid">
    <div class="row">
      <div class="col--md-4 col-sm-4 col-xs-4">
        <a routerLink="/shop" id="logo">
          <img src="../../../assets/img/brand/logo.svg" width="190" height="50" alt="" data-retina="true" class="hidden-xs">
          <img src="../../../assets/img/brand/logo_mobile.svg" width="59" height="35" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
        </a>
      </div>
      <nav class="col--md-8 col-sm-8 col-xs-8">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" [ngClass]="{'active': clickMenu}" (click)="onClickMobileMenu()"><span>Menu
            mobile</span></a>
        <div class="main-menu" [ngClass]="{'show': clickMenu}">
          <div id="header_menu">
            <img src="../../../assets/img/brand/logo.svg" width="190" height="70" alt="" data-retina="true">
          </div>
          <a (click)="onClickMobileMenu()" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li *ngIf="user">
              <a href="javascript:void(0);" (click)="clickOnUser = !clickOnUser" class="show-submenu">
                <span class="icon_profile"></span> {{user.nombre}}<i class="icon-down-open-mini"></i>
              </a>
              <ul [ngClass]="{'show_normal': clickOnUser} ">
                <li (click)="onClickMobileMenu()" routerLink="/order/list"><a>Mis Ordenes</a></li>
                <li (click)="onClickMobileMenu()"><a>Mi Perfil</a></li>
                <li><a (click)="logout()">Salir</a></li>
              </ul>
            </li>
            <li *ngIf="user">
              <a href="javascript:void(0);" (click)="notificationsOnClick()" class="show-submenu">
                <span class=" icon_star" [ngClass]="{'notification-active':notificationsNumber > 0}"></span> <span *ngIf="notificationsNumber > 0"
                  class="notification-pill">{{notificationsNumber}}</span>
              </a>
              <ul [ngClass]="{'show_normal': clickOnNotification} ">
                <li *ngFor="let notification of notifications">
                  <a (click)="notificationOnClick(notification)">{{notification.description}}</a>
                </li>
              </ul>

            </li>
            <li><a (click)="onClickMobileMenu()" routerLink="/shop/home">Inicio</a></li>
            <li *ngIf="!user"><a (click)="openRegisterModal()" style="cursor: pointer;">Registrarse</a></li>
            <li *ngIf="!user"><a (click)="openLoginModal()" style="cursor: pointer;">Ingresar</a></li>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div><!-- End row -->
  </div><!-- End container -->
</header>
<!-- End Header =============================================== -->