<!-- Register modal -->
<div class="modal-body">
  <div class="modal-content modal-popup">
    <a (click)="registerUserModal.hide()" class="close-link"><i class="icon_close_alt2"></i></a>
    <form [formGroup]='registerForm' class="popup-form" id="myRegister">
      <div class="login_icon"><i class="icon_lock_alt"></i> Registrarse</div>
      <div class="form-group row">
        <div class="col-md-12">
          <input type="text" class="form-control form-white" formControlName="nombre" placeholder="Nombre *">
          <div *ngIf="registerForm.controls['nombre'].errors?.required && (registerForm.controls['nombre'].dirty || registerForm.controls['nombre'].touched || submit)"
            class="error_message">
            El nombre es necesario
          </div>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control form-white" formControlName="apellido" placeholder="Apellido *">
          <div *ngIf="registerForm.controls['apellido'].errors?.required && (registerForm.controls['apellido'].dirty || registerForm.controls['apellido'].touched || submit)"
            class="error_message">
            El apellido es necesario
          </div>
        </div>
        <div class="col-md-12">
          <input type="email" class="form-control form-white" formControlName="email" placeholder="Email *">
          <div *ngIf="registerForm.controls['email'].errors?.required && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched || submit)"
            class="error_message">
            El email es necesario
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.email" class="error_message">
            Digita un correo electrónico valido
          </div>
        </div>
        <div class="col-md-12">
          <input type="tel" class="form-control form-white" formControlName="tel1" placeholder="Celular 1 *">
          <div *ngIf="registerForm.controls['tel1'].errors?.required && (registerForm.controls['tel1'].dirty || registerForm.controls['tel1'].touched || submit)"
            class="error_message">
            El celular es necesario
          </div>
          <div *ngIf="registerForm.controls['tel1'].errors?.pattern" class="error_message">
            Digita un celular valido
          </div>
        </div>
        <div class="col-md-12">
          <input type="tel" class="form-control form-white" formControlName="tel2" placeholder="Celular 2">
          <div *ngIf="registerForm.controls['tel2'].errors?.pattern" class="error_message">
            Digita un celular valido
          </div>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control form-white" formControlName="contrasena" placeholder="Contraseña *"
            id="password1">
          <div *ngIf="registerForm.controls['contrasena'].errors?.required && (registerForm.controls['contrasena'].dirty || registerForm.controls['contrasena'].touched || submit)"
            class="error_message">
            La contraseña es necesaria
          </div>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control form-white" formControlName="confirmContrasena" placeholder="Confirmar Contraseña *"
            id="password2">
          <div *ngIf="registerForm.controls['confirmContrasena'].errors?.required && (registerForm.controls['confirmContrasena'].dirty || registerForm.controls['confirmContrasena'].touched || submit)"
            class="error_message">
            Confirmar la contraseña es necesario
          </div>
          <div *ngIf="(registerForm.controls['confirmContrasena'].value !== registerForm.controls['contrasena'].value) && registerForm.controls['confirmContrasena'].dirty"
            class="error_message">
            Las contraseñas deben ser iguales
          </div>
        </div>
        <div class="col-md-12">
          <div id="pass-info" class="clearfix"></div>
          <div class="checkbox-holder text-left">
            <div class="checkbox">
              <input type="checkbox" value="accept_2" id="check_2" formControlName="termsAndConditions" name="check_2" />
              <label for="check_2"><span>Acepto <strong>Terminos &amp; Condiciones</strong></span></label>
            </div>
          </div>
          <div *ngIf="submit && !registerForm.controls['termsAndConditions'].value" class="error_message">
            Debes aceptar los términos y condiciones
          </div>
        </div>
      </div>
      <div *ngIf="!isRegistered" class="error_message">
        El correo o el número de telefono ya estan siendo usado en otra cuenta.
      </div>
      <button (click)="register()" type="submit" class="btn btn-submit">Registrarse</button>
    </form>
  </div>
</div>