.product_detail_img {
  //max-height: 350px;
   // display: block;
    width: 100%;
}


.product_detail_body {
  padding: 5px !important;
  margin-top: -5px;
}

.btn_qty{
  padding-bottom: 6px;
}

button.close {
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: -35px;
  color: #fff;
  font-size: 40px;
  opacity: .8;
  padding-right: 5px !important;
}