<div class="modal-body product_detail_body">

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="close" (click)="productDetailModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <img [src]="getUrl()" class="product_detail_img" onError="this.src='../../../assets/img/riing.webp'" alt="">
    </div>
  </div>
  <div *ngIf="product" class="row">
    <div class="col-md-9">
      <h2><strong>{{product.nombre}}</strong></h2>
      <p>{{product.descripcion}}</p>
    </div>
    <div class="col-md-3">
      <h3>{{product.precio_venta | currency: 'USD' : 'symbol' : '1.0-0' }}</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12" style="margin-top: -25px;" *ngIf="product">
      <form [formGroup]='optionsForm' class="form-horizontal">
        <div *ngFor="let opcion of getopciones(optionsForm); let i = index" class="list-group list-group-flush card mat-elevation-z2">

          <div [formGroup]="opcion" class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-12">
                <h3>{{opcion.controls['nombre'].value}}
                  <small *ngIf="(selectedOptions[i].items.length  < opcion.controls['cantidad'].value)">
                    <i class="icon_circle-slelected"></i> Elige
                    {{opcion.controls['cantidad'].value}} <span *ngIf="opcion.controls['obligatorio'].value">(Obligatorio)</span>
                  </small>
                  <small *ngIf="(selectedOptions[i].items.length  == opcion.controls['cantidad'].value)" style="color: #ff8a33">
                    <i class="icon_circle-slelected"></i> Has completado la selección
                  </small>
                </h3>

              </div>
            </div>
            <div *ngIf="(selectedOptions[i].items.length  < opcion.controls['cantidad'].value) && opcion.controls['obligatorio'].value && submit"
              class="form-group row">
              <div class="col-md-12 product-detail-note">
                Recuerda Elegir {{opcion.controls['cantidad'].value}}
                <span *ngIf="opcion.controls['cantidad'].value == 1">opción</span>
                <span *ngIf="opcion.controls['cantidad'].value > 1">opciones</span>
              </div>
            </div>

            <div class="form-group form-group-options row">
              <div *ngFor="let item of getItems(opcion); let j = index">
                <div [formGroup]="item">
                  <div class="col-md-6">

                    <label class="col-form-label product-option-label" for="selected">

                      <input *ngIf="opcion.controls['cantidad'].value > 1" [attr.disabled]="((!item.controls['selected'].value && selectedOptions[i].items.length  == opcion.controls['cantidad'].value))? '' : null"
                        (change)="onSelected($event, i, item, 2)" class="product-option-input icheck" checked="false"
                        formControlName="selected" type="checkbox">

                      <input *ngIf="opcion.controls['cantidad'].value === 1" (change)="onSelected($event, i, item, 1)"
                        class="product-option-input icheck" (click)="radioOnClick($event, i, item)" [name]="opcion.controls['nombre'].value"
                        type="radio">
                      {{item.controls['nombre'].value}}
                      <small *ngIf="item.controls['seCobra'].value" class="product-option-price">+{{item.controls['precio'].value
                        | currency: 'USD' : 'symbol' : '1.0-0'}}</small>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="form-group row">
          <div class="col-md-12">
            <textarea class="form-control" placeholder="Añadir aclaraciones..." formControlName="notas"></textarea>
          </div>
        </div>
        <div *ngIf="isVisible" class="form-group row">
          <div class="col-md-4 btn_qty" style="">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" (click)="dismissQty()" class="btn btn-qty btn-number">
                  <span class=" icon_minus-06"></span>
                </button>
              </span>
              <input matInput class="form-control input-number" formControlName="cantidad" type="number">
              <!--<input type="text" class="form-control input-number" value="10" min="1" max="100">-->
              <span class="input-group-btn">
                <button type="button" (click)="sumQty()" class="btn btn-qty btn-number">
                  <span class="icon_plus"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="col-md-8">
            <p><a (click)="onSubmit()" class="btn_full">Añadir al pedido ({{calculateTotal() | currency: 'USD' :
                'symbol' : '1.0-0' }})</a></p>
          </div>
        </div>

        <div *ngIf="!isVisible" class="form-group row">
          <div class="col-md-8">
            <p><a class="btn_full">El establecimiento esta cerrado </a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>