.product_img{
	border: #dfdfdf 1px solid;
    width: 96px;
    height: 96px;
    border-radius: 4px;
    float: right;
    display: table-cell;
    margin-top: 0.5vw;
    overflow: hidden;
}
.product_img img {
	max-width: 140%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -20px;
    overflow: hidden;
}
a.btn_add, .btn_add {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    width: 100%;
    background: #ec008c;
    cursor: pointer;
    //padding: 12px 20px;
    outline: none;
    font-size: 12px;
    transition: all 0.3s;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 5px;

    width: 96px;
    height: 20px;
    float: right;
    display: table-cell;
    margin-top: 0.5vw;
}

.shop_categories{
    background: rgba(255, 255, 255, 0.75);
    position: fixed;
    bottom: 0;
    width: 92% !important;
    z-index: 10;
}

.sticky {
    background: #fff;
    position: fixed;
    top: 55px;
    //height: 120px;
    width: 92%;
    z-index: 10;
}

.scrollmenu {
  background-color: #f9f9f9;
  overflow: auto;
  white-space: nowrap;
  box-shadow: 0 3px 12px 0 rgb(0 0 0 / 27%);
  border-radius: 3px;
  margin-left: -15px;
  margin-right: -15px;
}

.scrollmenu a {
  display: inline-block;
  color: #111;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #777;
}