<!-- SubHeader =============================================== -->
<section class="parallax-window parallax_img" id="short" data-parallax="scroll" data-natural-width="1400"
  data-natural-height="470">
  <div id="subheader">
    <div *ngIf="shop" id="sub_content">
      <div id="thumb"><img [src]="getShopUrl(shopId)" onError="this.src='../../../assets/img/riing.webp'" alt=""></div>
      <h1 class="nombre_negocio">{{shop.usuario.nombre}}</h1>
      <div class="descripcion_negocio"><i class="icon_pin"></i> {{shop.usuario.ubicaciones[0].direccion}} -
        <strong>Pedido
          Mínimo:</strong>
        {{shop.pedido_minimo | currency: 'USD' : 'symbol' : '1.0-0'}}.</div>
      <br>
      <div class="descripcion_negocio"><i class="icon_clock"></i> <strong>Tiempo Mínimo:</strong>
        {{shop.tiempo_minimo + 15}} mins - <strong>Tiempo Máximo:</strong>
        {{shop.tiempo_maximo + 15}} mins</div>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
  <div class="container">
  </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">

    <div class="col-md-3 ">
      <p><a (click)="navigateToTypes()" class="btn_side"><i class="icon-right"></i> Regresar</a></p>
      <div class="box_style_1 hidden-xs">
        <ul id="cat_nav">
          <li *ngFor="let category of categories">
            <a [routerLink]='"."' [fragment]="category.nombre" class="active">
              {{category.nombre}} <span>({{category.productos.length}})</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="hidden-md hidden-xl hidden-lg" id="categorybar">
        <div class="scrollmenu">
          <a [routerLink]='"."' [fragment]="category.nombre" *ngFor="let category of categories">
            {{category.nombre}}
          </a>
        </div>
        <!-- <ul class="cat_nav_mobile" id="cat_nav">
          <li *ngFor="let category of categories">
            <a [routerLink]='"."' [fragment]="category.nombre" class="active">
              {{category.nombre}}
            </a>
          </li>
        </ul>-->

      </div><!-- End box_style_1 -->
      <br>
      <riing-need-help-ad></riing-need-help-ad>
    </div><!-- End col-md-3 -->

    <div class="col-md-6">
      <div class="box_style_2" id="main_menu">

        <h2 class="inner">Menú</h2>
        <div *ngFor="let category of categories" class="row">
          <h3 class="nomargin_top" [attr.id]="category.nombre"><strong>{{category.nombre}}</strong></h3>
          <ul class="product_list">
            <li (click)="openProductDetailModal(product.id)" class="col-md-12 product"
              *ngFor="let product of category.productos">
              <div class="row">
                <div class="col-md-8 col-xs-7">
                  <h4>{{product.nombre}}</h4>
                  <!--<p>
                    {{product.descripcion}}
                  </p>-->
                  <h5><strong>{{product.precio_venta | currency: 'USD' : 'symbol' : '1.0-0' }}</strong></h5>
                </div>
                <div class="col-md-4 col-xs-5">
                  <div class="product_img">
                    <img [src]="getUrl(product.id)" onError="this.src='../../../assets/img/riing.webp'" alt="thumb">
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <a class="btn_add">Añadir</a>
                    </div>

                  </div>
                </div>
              </div>
            </li>
            <br>
          </ul>
        </div>
        <!--<div *ngFor="let category of categories">
          <h3 class="nomargin_top" [attr.id]="category.nombre">{{category.nombre}}</h3>
          <table class="table table-striped cart-list">
            <thead>
              <tr>
                <th>
                  Producto
                </th>
                <th>
                  Precio
                </th>
                <th>
                  Ordenar
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of category.productos">
                <td>
                  <figure class="thumb_menu_list"><img [src]="getUrl(product.id)" onError="this.src='../../../assets/img/riing.webp'"
                      alt="thumb"></figure>
                  <h5>{{product.nombre}}</h5>
                  <p>
                    {{product.descripcion}}
                  </p>
                </td>
                <td>
                  <strong>{{product.precio_venta | currency: 'USD' : 'symbol' : '1.0-0' }}</strong>
                </td>
                <td class="options">
                  <div class="dropdown dropdown-options">
                    <a class="dropdown-toggle" (click)="openProductDetailModal(product.id)" aria-expanded="true"><i class="icon_plus_alt2"></i></a>
                    
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>-->
      </div>
      <!-- End box_style_1 -->
    </div><!-- End col-md-6 -->

    <div class="col-md-3" id="sidebar">
      <riing-order-side-description *ngIf="shop" [pedidoMinimo]="shop.pedido_minimo" [almacenId]="shopId"
        [almacenNombre]="shop.usuario.nombre" origin="product-detail" [shopType]="shopType" [onTable]="onTable"
        [isVisible]="shop.visible"></riing-order-side-description>
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->