<!-- SubHeader =============================================== -->
<section class="parallax-window parallax_img" id="short" data-parallax="scroll"
  data-natural-width="1400" data-natural-height="350">
  <div id="subheader">
    <div id="sub_content">
      <h1>Contactanos</h1>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
  <div class="container">
  </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row" id="contacts">
    <div class="col-md-12 col-sm-12">
      <div class="box_style_2">
        <h2 class="inner">Servicio al Cliente</h2>
        <p class="add_bottom_30">Adipisci conclusionemque ea duo, quo id fuisset prodesset, vis ea agam quas. <strong>Lorem
            iisque periculis</strong> id vis, no eum utinam interesset. Quis voluptaria id per, an nibh atqui vix. Mei
          falli simul nusquam te.</p>
        <p><a href="tel://004542344599" class="phone"><i class="icon-phone-circled"></i> +57 304 171 0202</a></p>
        <p class="nopadding"><a href="mailto:customercare@quickfood.com"><i class="icon-mail-3"></i>
            customercare@quickfood.com</a></p>
      </div>
    </div>
  </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->