<!-- SubHeader =============================================== -->
<section class="parallax-window" id="home" data-parallax="scroll" src="../../../assets/img/sub_header_home.jpg" data-natural-width="1400" data-natural-height="550">
  <div id="subheader">
      <div id="sub_content">
          <h1>Order Takeaway or Delivery Food</h1>
          <p>
              Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
          </p>
          <form method="post" action="list_page.html">
              <div id="custom-search-input">
                  <div class="input-group ">
                      <input type="text" class=" search-query" placeholder="Your Address or postal code">
                      <span class="input-group-btn">
                      <input type="submit" class="btn_search" value="submit">
                      </span>
                  </div>
              </div>
          </form>
      </div><!-- End sub_content -->
  </div><!-- End subheader -->
  <div id="count" class="hidden-xs">
      <ul>
          <li><span class="number">2650</span> Restaurant</li>
          <li><span class="number">5350</span> People Served</li>
          <li><span class="number">12350</span> Registered Users</li>
      </ul>
  </div>
  </section><!-- End section -->
  <!-- End SubHeader ============================================ -->