<section class="parallax-window parallax_img" id="home" data-parallax="scroll" data-image-src="../../../assets/img/header_riing.jpeg"
    data-natural-width="1400" data-natural-height="550">
    <!--    <img class="parallax-window" src="../../../assets/img/header_riing.jpeg" alt="">-->
    <div id="subheader">
        <div id="sub_content">
            <!--Que timbre debemos tocar-->
            <h1 class="mensaje_bievenida">¿A dónde te llevamos nuestra onda?</h1>
            <br>

            <form method="post" action="list_page.html">
                <div id="custom-search-input">
                    <div class="input-group ">
                        <ng-select class="search-query" (change)="tarifaChange()" [(ngModel)]="tarifaSelectedId" name="tarifa"
                            id="tarifa" style="background-color: #fff;" [items]="tarifas"
                            [hideSelected]="true" bindValue="id" bindLabel="nombre" placeholder="Selecciona el barrio para el envio"
                            [ngClass]="{'is-invalid': submit}">
                        </ng-select>

                        <!--<select class="search-query" (change)="tarifaChange()" [(ngModel)]="tarifaSelectedId" name="tarifa"
                            id="tarifa" style="background-color: #fff;">
                            <option value="null">Selecciona el barrio para el envio</option>
                            <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">{{tarifa.nombre}}</option>
                        </select>-->
                        <!--<span class="input-group-btn">
                            <input class="btn_search">
                        </span>-->
                    </div>
                    <div *ngIf="submit" class="error_message" style="color: #ff2300">
                        Por favor selecciona un barrio
                    </div>
                    <br>
                    <div>
                        <a class="btn_aceptar" (click)="navigateToTypes()"><strong><i class="icon_cart_alt icono_carrito"></i>
                                Ver todos los negocios </strong>
                        </a>
                    </div>
                </div>
            </form>
            <br>
            <p>
                Riing!!
            </p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
    <!--<div id="count" class="hidden-xs">
        <ul>
            <li><span class="number">2650</span> Restaurant</li>
            <li><span class="number">5350</span> People Served</li>
            <li><span class="number">12350</span> Registered Users</li>
        </ul>
    </div>-->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
<div class="container margin_60">

    <div class="main_title">
        <h2 class="nomargin_top" style="padding-top:0">¿Cómo Funciona?</h2>
        <p>
            Sigue estos sencillos pasos y recibe lo que quieras en la puerta de tu casa.
        </p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box_home" id="one">
                <span>1</span>
                <h3>Elige un negocio</h3>
                <p>
                    Encuentra los negocios disponibles en Santa Rosa De Cabal.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="two">
                <span>2</span>
                <h3>Selecciona tus productos</h3>
                <p>
                    Tenemos mucho para ofrecerte.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="three">
                <span>3</span>
                <h3>Selecciona el método de pago</h3>
                <p>
                    Puedes pagar cuando recibas tu pedido.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="four">
                <span>4</span>
                <h3>Recibe en la comodidad de tu casa</h3>
                <p>
                    No salgas de tu casa y cuidate.
                </p>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->

<div class="high_light">
    <div class="container">
        <h3>Selecciona un negocio de<br>nuestra economía local</h3>
        <p>Porque el crecimiento local corre en nuestras ondas .</p>
        <a routerLink="/shop/types">Ver todos los Negocios</a>
    </div><!-- End container -->
</div><!-- End hight_light -->

<div class="container margin_60">
    <div class="main_title margin_mobile">
        <h2 class="nomargin_top">Trabaja con Nosotros</h2>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a class="box_work" routerLink="/company/shops-info">
                <img src="../../../assets/img/negocio.webp" width="848" height="480" alt="" class="img-responsive">
                <h3>Registra tu negocio<span>Comienza a ganar nuevos clientes</span></h3>
                <p>Conoce todos los beneficios que tenemos para ti.</p>
                <div class="btn_1">Saber Más</div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="box_work" routerLink="/company/delivery-info">
                <img src="../../../assets/img/domicilio.webp" width="848" height="480" alt="" class="img-responsive">
                <h3>Estamos buscando quienes lleven nuestra onda<span>Comienza a ganar dinero</span></h3>
                <p>Si eres domiciliario o simplemente tienes tiempo libre y quieres ganar dinero, contáctanos y lleva
                    nuestras ondas a todos lados... Riing.</p>
                <div class="btn_1">Saber Más</div>
            </a>
        </div>
    </div><!-- End row -->
</div><!-- End container -->