.parallax_img{
    background-image: url("../../../../assets/img/header_riing.jpeg");

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn_aceptar{
  padding-left: 12vw;
  padding-right: 12vw;
}
a.btn_aceptar{
  border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff !important;
	width:100%;
	background: #ec008c;
	cursor: pointer;
	padding: 12px 20px;
	outline: none;
	font-size:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 8px;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	text-align:center;
  margin-bottom:5px;
  padding-top: 15px;
  padding-bottom: 15px
}

.mensaje_bievenida{
	font-size: 40px !important;
  font-weight: 500 !important;
}

.icono_carrito{
	font-size: 15px;
  font-weight: 600;
}

select{
	font-size: 17px;
}

.ng-select.custom ::ng-deep .ng-select-container  {            
	min-height: 0px;
	border-radius: 0;
	border: 0px;
}