<!-- SubHeader =============================================== -->
<section class="parallax-window parallax_img" id="short" data-parallax="scroll" data-natural-width="1400"
  data-natural-height="350">
  <div id="subheader">
    <div id="sub_content">
      <h1>Realiza tu pedido</h1>
      <div class="bs-wizard">
        <div class="col-xs-6 bs-wizard-step " [ngClass]="{'active': orderStep == 1, 'complete': orderStep > 1}">
          <div class="text-center bs-wizard-stepnum"><strong>1.</strong> Datos De Entrega</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a (click)="orderStep = 1" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-6 bs-wizard-step" [ngClass]="{'disabled': orderStep < 3,'complete': orderStep == 3}">
          <div class="text-center bs-wizard-stepnum"><strong>2.</strong> Finalizar Pedido!</div>
          <div class="progress">
            <div class="progress-bar">
            </div>
          </div>
          <a (click)="orderStep = 3" class="bs-wizard-dot"></a>
        </div>
      </div><!-- End bs-wizard -->
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
  <div class="container">
  </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">
    <div *ngIf="orderStep != 3" class="col-md-3">
      <p><a (click)="returnToShop()" class="btn_side"><i class="icon-right"></i> Regresar</a></p>

      <riing-need-help-ad></riing-need-help-ad>

    </div><!-- End col-md-3 -->

    <div class="col-md-6">
      <div *ngIf="orderStep == 1" class="box_style_2" id="order_process">
        <form [formGroup]='deliveryForm'>
          <h2 class="inner">Datos De Entrega</h2>
          <div class="form-group">
            <label>Número de Mesa <strong class="text-danger">*</strong></label>
            <input type="text" class="form-control" formControlName="indicaciones" id="indicaciones" name="indicaciones" placeholder="Ej: Mesa 1">
            <div *ngIf="deliveryForm.controls['indicaciones'].errors?.required && (deliveryForm.controls['indicaciones'].dirty || deliveryForm.controls['indicaciones'].touched || deliveryFormSubmit)"
              class="error_message">
              El número de mesa es necesario
            </div>
          </div>
        </form>
      </div><!-- End box_style_1 -->
      <!----------------------------------------------------------------------------------------------------------------->
      <br>

    </div><!-- End col-md-6 -->

    <div *ngIf="orderStep == 3" class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="box_style_2">
          <h2 class="inner">Orden confirmada!</h2>
          <div id="confirm">
            <i class="icon_check_alt2"></i>
            <h3>Muchas Gracias!</h3>
            <p>
              Con tu compra acabas de inpulsar a un emprendedor local.
            </p>
          </div>
          <h4>Resumen</h4>
          <table class="table table-striped nomargin">
            <tbody>
              <tr *ngFor="let product of products, index as i">
                <td>
                  <strong>{{product.qty}}x</strong>
                  {{product.producto.nombre}}
                </td>
                <td>
                  <strong class="pull-right">{{product.total | currency: 'USD' :
                    'symbol' : '1.0-0'}}</strong>
                </td>
              </tr>
              <tr *ngIf="deliveryWay == 1">
                <td>
                  Envio
                </td>
                <td>
                  <strong class="pull-right">{{tarifa.valor | currency: 'USD' :
                    'symbol' : '1.0-0'}}</strong>
                </td>
              </tr>

              <tr>
                <td>
                  Hora del Pedido
                </td>
                <td>
                  <strong class="pull-right">{{newOrder.hora_inicio | date:'short'}}</strong>
                </td>
              </tr>
              <tr>
                <td class="total_confirm">
                  TOTAL
                </td>
                <td class="total_confirm">
                  <span class="pull-right">{{total | currency: 'USD' :
                    'symbol' : '1.0-0'}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <a *ngIf="orderStep == 3" class="btn_full" routerLink="/shop/types">Seguir Comprando</a>
      </div>
    </div>

    <div *ngIf="orderStep != 3" class="col-md-3" id="sidebar">
      <riing-order-side-description [almacenId]="shopId" origin="payment" [shopType]="shopType" [orderStep]="orderStep"
        (forwardBtnClick)="forwardBtnClick()" (nextBtnClick)="nextBtnClick()" [tarifa]="tarifa" [onTable]="onTable"
        (deliveryWayEmitter)="deliveryWayChange($event)"></riing-order-side-description>
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->