<!-- SubHeader =============================================== -->
<section class="parallax-window parallax_img" id="short" data-parallax="scroll" data-natural-width="1400"
  data-natural-height="350">
  <div id="subheader">
    <div id="sub_content">
      <h1>Realiza tu pedido</h1>
      <div class="bs-wizard">
        <div class="col-xs-4 bs-wizard-step " [ngClass]="{'active': orderStep == 1, 'complete': orderStep > 1}">
          <div class="text-center bs-wizard-stepnum"><strong>1.</strong> Datos De Entrega</div>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a (click)="orderStep = 1" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-4 bs-wizard-step" [ngClass]="{'disabled': orderStep < 2, 'active': orderStep == 2, 'complete': orderStep > 2}">
          <div class="text-center bs-wizard-stepnum"><strong>2.</strong> Método de Pago</div>
          <div class="progress">
            <div class="progress-bar">
            </div>
          </div>
          <a (click)="orderStep = 2" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-4 bs-wizard-step" [ngClass]="{'disabled': orderStep < 3,'complete': orderStep == 3}">
          <div class="text-center bs-wizard-stepnum"><strong>3.</strong> Finalizar Pedido!</div>
          <div class="progress">
            <div class="progress-bar">
            </div>
          </div>
          <a (click)="orderStep = 3" class="bs-wizard-dot"></a>
        </div>
      </div><!-- End bs-wizard -->
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
  <div class="container">
  </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">
    <div *ngIf="orderStep != 3" class="col-md-3">
      <p><a (click)="returnToShop()" class="btn_side"><i class="icon-right"></i> Regresar</a></p>

      <riing-need-help-ad></riing-need-help-ad>

    </div><!-- End col-md-3 -->

    <div class="col-md-6">
      <div *ngIf="orderStep == 1" class="box_style_2" id="order_process">
        <form [formGroup]='deliveryForm'>
          <h2 class="inner">Datos De Entrega</h2>
          <div class="form-group">
            <label>Ubicación <strong class="text-danger">*</strong></label>
            <select class="form-control" name="id" (change)="selectedUbication()" formControlName="id" id="id">
              <option value="null">Nueva Ubicación</option>
              <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">{{ubicacion.nombre}}</option>
            </select>
          </div>
          <div *ngIf="deliveryForm.controls['id'].value == 'null'" class="form-group">
            <label>Nombre de la Ubicación <strong class="text-danger">*</strong></label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" placeholder="Ej: Casa, Trabajo">
            <div *ngIf="deliveryForm.controls['nombre'].errors?.required && (deliveryForm.controls['nombre'].dirty || deliveryForm.controls['nombre'].touched || deliveryFormSubmit)"
              class="error_message" style="color: #ff2300">
              El nombre es necesario
            </div>
          </div>
          <div class="form-group">
            <label>Dirección <strong class="text-danger">*</strong></label>
            <select class="form-control" name="type" formControlName="type" id="type">
              <option value="Carrera">Carrera</option>
              <option value="Calle">Calle</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="street" id="street" name="street" placeholder="">
              </div>
            </div>
            <!--<div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="corner" id="corner" name="corner" placeholder="#">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="number" id="number" name="number" placeholder="-">
              </div>
            </div> || (deliveryForm.controls['corner'].errors?.required && (deliveryForm.controls['corner'].dirty || deliveryForm.controls['corner'].touched || deliveryFormSubmit))
          || (deliveryForm.controls['number'].errors?.required && (deliveryForm.controls['number'].dirty || deliveryForm.controls['number'].touched || deliveryFormSubmit))-->
          </div>
          <div *ngIf="(deliveryForm.controls['street'].errors?.required && (deliveryForm.controls['street'].dirty || deliveryForm.controls['street'].touched || deliveryFormSubmit))"
            class="error_message" style="color: #ff2300">
            Digita una dirección valida
          </div>
          <div class="form-group">
            <label>Barrio <strong class="text-danger">*</strong></label>
            <ng-select class="search-query" (change)="getRate()" formControlName="barrio" 
              name="tarifa" id="tarifa" style="background-color: #fff;" [items]="tarifas" [addTag]="addTagFn"
              [hideSelected]="true" bindValue="id" bindLabel="nombre" placeholder="Selecciona el Barrio" [ngClass]="{'is-invalid': deliveryForm.controls['barrio'].value === 'null' && (deliveryForm.controls['barrio'].dirty || deliveryForm.controls['barrio'].touched || deliveryFormSubmit)}">
            </ng-select>
            <!--<select class="form-control" formControlName="barrio" (change)="getRate()" name="barrio" id="barrio">
              <option value="null">Selecciona el Barrio</option>
              <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">{{tarifa.nombre}}</option>
            </select>-->
            <div *ngIf="deliveryForm.controls['barrio'].value === null && (deliveryForm.controls['barrio'].dirty || deliveryForm.controls['barrio'].touched || deliveryFormSubmit)"
              class="error_message" style="color: #ff2300">
              Selecciona un barrio
            </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-md-12">

              <label>Indicaciones</label>
              <textarea class="form-control" style="height:150px" formControlName="indicaciones" placeholder="Ej: Apto 101, Enfrente hay un chance"
                name="indicaciones" id="indicaciones"></textarea>

            </div>
          </div>
        </form>
      </div><!-- End box_style_1 -->
      <!----------------------------------------------------------------------------------------------------------------->
      <br>
      <div *ngIf="orderStep == 2" class="box_style_2">
        <h2 class="inner">Método de Pago</h2>
        <div class="payment_select nomargin">
          <label><input type="radio" value="cash" checked name="payment_method" class="icheck">Pago En Efectivo (Al
            recibir mi producto) <i class="icon_wallet"></i></label>

        </div>
      </div><!-- End box_style_1 -->
      <!----------------------------------------------------------------------------------------------------------------------------------->
      <br>

    </div><!-- End col-md-6 -->

    <div *ngIf="orderStep == 3" class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="box_style_2">
          <h2 class="inner">Orden confirmada!</h2>
          <div id="confirm">
            <i class="icon_check_alt2"></i>
            <h3>Muchas Gracias!</h3>
            <p>
              Con tu compra acabas de inpulsar a un emprendedor local.
            </p>
          </div>
          <h4>Resumen</h4>
          <table class="table table-striped nomargin">
            <tbody>
              <tr *ngFor="let product of products, index as i">
                <td>
                  <strong>{{product.qty}}x</strong>
                  {{product.producto.nombre}}
                </td>
                <td>
                  <strong class="pull-right">{{product.total | currency: 'USD' :
                    'symbol' : '1.0-0'}}</strong>
                </td>
              </tr>
              <tr *ngIf="deliveryWay == 1">
                <td>
                  Envio
                </td>
                <td>
                  <strong class="pull-right">{{tarifa.valor | currency: 'USD' :
                    'symbol' : '1.0-0'}}</strong>
                </td>
              </tr>

              <tr>
                <td>
                  Hora del Pedido
                </td>
                <td>
                  <strong class="pull-right">{{newOrder.hora_inicio | date:'short'}}</strong>
                </td>
              </tr>
              <tr>
                <td class="total_confirm">
                  TOTAL
                </td>
                <td class="total_confirm">
                  <span class="pull-right">{{total | currency: 'USD' :
                    'symbol' : '1.0-0'}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <a *ngIf="orderStep == 3" class="btn_full" routerLink="/shop/types">Seguir Comprando</a>
      </div>
    </div>

    <div *ngIf="orderStep != 3" class="col-md-3" id="sidebar">
      <riing-order-side-description [almacenId]="shopId" origin="payment" [shopType]="shopType" [orderStep]="orderStep"
        (forwardBtnClick)="forwardBtnClick()" (nextBtnClick)="nextBtnClick()" isVisible="true" [tarifa]="tarifa"
        (deliveryWayEmitter)="deliveryWayChange($event)"></riing-order-side-description>
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->