<!--<div class="modal-header">
  <button type="button" class="close" (click)="newsModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->
<div class="modal-body news_detail_body">

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="close" (click)="newsModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <img src="../../../assets/img/sabor_pueblo.webp" class="news_detail_img" onError="this.src='../../../assets/img/riing.webp'"
        alt="">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p>
        <a (click)="onSubmit()" class="btn_full">
          Ir al Festival!!
        </a>
      </p>
    </div>
  </div>
</div>