.news_detail_img {
  width: 100%;
}

.news_detail_body {
  padding: 5px !important;
  margin-top: -5px;
}
  

button.close {
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: -35px;
  color: #fff;
  font-size: 40px;
  opacity: .8;
  padding-right: 5px !important;
}