<div class="hidden-xs theiaStickySidebar ">
  <div id="cart_box">
    <h3>Tu Pedido <i class="icon_cart_alt pull-right"></i></h3>
    <table *ngIf="products.length > 0" class="table table_summary">
      <tbody>
        <tr *ngFor="let product of products, index as i">
          <td>
            <a *ngIf="origin == 'product-detail'" (click)="deleteProduct(i)" class="remove_item"><i class="icon_minus_alt"></i></a>
            <strong>{{product.qty}}x</strong>
            {{product.producto.nombre}}
          </td>
          <td>
            <strong class="pull-right">{{product.total | currency: 'USD' :
              'symbol' : '1.0-0'}}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="products.length <= 0 " class="order-side">
      <i class="icon_cart_alt"></i>
      <h4>Que Deseas <span>Pedir Hoy?</span></h4>
    </div>
    <hr *ngIf="!onTable">
    <div *ngIf="!onTable" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label>Barrio <strong class="text-danger">*</strong></label>
        <ng-select class="search-query" (change)="tarifaChange()" [(ngModel)]="tarifaSelectedId" [disabled]="origin == 'payment'"
          name="tarifa" id="tarifa" style="background-color: #fff;" [items]="tarifas" [addTag]="addTagFn"
          [hideSelected]="true" bindValue="id" bindLabel="nombre" placeholder="Selecciona el Barrio" [ngClass]="{'is-invalid': submit}">
        </ng-select>
        <div *ngIf="submit" class="error_message" style="color: #ff2300">
          Por favor selecciona un barrio
        </div>
        <!--<select class="form-control" (change)="tarifaChange()" [(ngModel)]="tarifaSelectedId" [disabled]="origin == 'payment'"
          name="tarifa" id="tarifa">
          <option value="null">Selecciona el Barrio</option>
          <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">{{tarifa.nombre}}</option>
        </select>-->
      </div>
    </div>
    <div *ngIf="!onTable" class="row" id="options_2">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
        <label><input type="radio" value="1" (change)="deliveryWayChange()" [(ngModel)]="deliveryWay" name="option_2"
            class="icheck">Domicilio</label>
      </div>
      <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
        <label><input type="radio" value="2" (change)="deliveryWayChange()" [(ngModel)]="deliveryWay" name="option_2"
            class="icheck">Recoger</label>
      </div>-->
    </div><!-- Edn options 2 -->
    <hr>
    <table class="table table_summary">
      <tbody>
        <tr>
          <td>
            Subtotal <span class="pull-right">{{subTotal | currency: 'USD' :
              'symbol' : '1.0-0' }}</span>
          </td>
        </tr>
        <tr *ngIf="!onTable">
          <td>
            Envio <span *ngIf="deliveryWay == 1" class="pull-right">{{tarifa.valor | currency: 'USD' :
              'symbol' : '1.0-0' }}</span>
            <span *ngIf="deliveryWay == 2" class="pull-right">$0</span>
          </td>
        </tr>
        <tr>
          <td class="total">
            TOTAL <span class="pull-right">{{total | currency: 'USD' :
              'symbol' : '1.0-0' }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>
    <a *ngIf="origin == 'product-detail'" (click)="order()" class="btn_full">Realizar Pedido</a>
    <a *ngIf="origin == 'payment' && orderStep == 1 && !onTable" class="btn_full" (click)="nextStep()">Pago</a>
    <a *ngIf="origin == 'payment' && orderStep == 1" class="btn_full_outline" (click)="returnToShop()"><i class="icon-right"></i>
      Añadir otros productos</a>
    <a *ngIf="(origin == 'payment' && orderStep == 2) || (origin == 'payment' && orderStep == 1 && onTable)" class="btn_full"
      (click)="nextStep()">Confirmar Orden</a>
    <a *ngIf="origin == 'payment' && orderStep == 2" class="btn_full_outline" (click)="forwardStep()"><i class="icon-right"></i>
      Regresar a Datos de Envio</a>

  </div><!-- End cart_box -->
</div><!-- End theiaStickySidebar -->

<a *ngIf="origin == 'product-detail' && isVisible" (click)="mobileOrderSideModal.show()" class="order_side_mobile btn_full hidden-lg hidden-md hidden-sm">Ver
  Pedido
  ({{total | currency: 'USD' :
  'symbol' : '1.0-0' }})</a>

<a *ngIf="!isVisible" (click)="shopClosedModal.show()" class="order_side_mobile btn_full hidden-lg hidden-md hidden-sm">El
  establecimiento se encuentra cerrado </a>

<div *ngIf="origin == 'payment' && orderStep == 1" class="order_side_mobile hidden-lg hidden-md hidden-sm">
  <a class="btn_full" (click)="nextStep()">Pago ({{total | currency: 'USD' :
    'symbol' : '1.0-0' }})</a>
  <a class="btn_full_outline" (click)="returnToShop()"><i class="icon-right"></i>
    Añadir otros productos</a>
</div>

<div *ngIf="origin == 'payment' && orderStep == 2" class="order_side_mobile hidden-lg hidden-md hidden-sm">
  <a class="btn_full" (click)="nextStep()">Confirmar
    Orden ({{total | currency: 'USD' :
    'symbol' : '1.0-0' }})</a>
  <a class="btn_full_outline" (click)="forwardStep()"><i class="icon-right"></i>
    Regresar a Datos de Envio</a>
</div>



<div bsModal #mobileOrderSide="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-8">
            <h4 class="modal-title">Tu Pedido</h4>
          </div>
          <div class="col-xs-4">
            <button type="button" class="close" (click)="mobileOrderSide.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <table *ngIf="products.length > 0" class="table table_summary">
            <tbody>
              <tr *ngFor="let product of products, index as i">
                <td>
                  <a *ngIf="origin == 'product-detail'" (click)="deleteProduct(i)" class="remove_item"><i class="icon_minus_alt"></i></a>
                  <strong>{{product.qty}}x</strong>
                  {{product.producto.nombre}}
                </td>
                <td>
                  <strong class="pull-right">{{product.total | currency: 'USD' :
                    'symbol' : '1.0-0'}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="products.length <= 0 " class="order-side">
            <i class="icon_cart_alt"></i>
            <h4>Que Deseas <span>Pedir Hoy?</span></h4>
          </div>
          <hr *ngIf="!onTable">
          <div *ngIf="!onTable" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label>Barrio <strong class="text-danger">*</strong></label>
              <ng-select class="search-query" (change)="tarifaChange()" [(ngModel)]="tarifaSelectedId" [disabled]="origin == 'payment'"
                name="tarifa" id="tarifa" style="background-color: #fff;" [items]="tarifas" [addTag]="addTagFn"
                [hideSelected]="true" bindValue="id" bindLabel="nombre" placeholder="Selecciona el Barrio" [ngClass]="{'is-invalid': submit}">
              </ng-select>
              <div *ngIf="submit" class="error_message" style="color: #ff2300">
                Por favor selecciona un barrio
              </div>
              <!--<select class="form-control" (change)="tarifaChange()" [(ngModel)]="tarifaSelectedId" [disabled]="origin == 'payment'"
                name="tarifa" id="tarifa">
                <option value="null">Selecciona el Barrio</option>
                <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">{{tarifa.nombre}}</option>
              </select>-->
            </div>
          </div>
          <div *ngIf="!onTable" class="row" id="options_2">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
              <label><input type="radio" value="1" (change)="deliveryWayChange()" [(ngModel)]="deliveryWay" name="option_3"
                  class="icheck">Domicilio</label>
            </div>
            <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
              <label><input type="radio" value="2" (change)="deliveryWayChange()" [(ngModel)]="deliveryWay" name="option_3"
                  class="icheck">Recoger</label>
            </div>-->
          </div><!-- Edn options 2 -->
          <hr>
          <table class="table table_summary">
            <tbody>
              <tr>
                <td>
                  Subtotal <span class="pull-right">{{subTotal | currency: 'USD' :
                    'symbol' : '1.0-0' }}</span>
                </td>
              </tr>
              <tr *ngIf="!onTable">
                <td>
                  Envio <span *ngIf="deliveryWay == 1" class="pull-right">{{tarifa.valor | currency: 'USD' :
                    'symbol' : '1.0-0' }}</span>
                  <span *ngIf="deliveryWay == 2" class="pull-right">$0</span>
                </td>
              </tr>
              <tr>
                <td class="total">
                  TOTAL <span class="pull-right">{{total | currency: 'USD' :
                    'symbol' : '1.0-0' }}</span>
                </td>
              </tr>
            </tbody>
          </table>

          <hr>
          <a *ngIf="origin == 'product-detail'" (click)="order()" class="btn_full">Realizar Pedido</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #selectProducts="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-popup">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h1 style="color: #fff">Selecciona al menos un producto</h1>
          </div>
          <button (click)="selectProducts.hide()" type="submit" class="btn btn-submit">Entendido</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #minimumOrder="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-popup">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h1 style="color: #fff">Aun no completas el pedido mínimo de <strong>{{pedidoMinimo | currency: 'USD' :
                'symbol' : '1.0-0' }}</strong></h1>
          </div>
          <button (click)="minimumOrder.hide()" type="submit" class="btn btn-submit">Entendido</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #shopClosed="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-popup">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h2 style="color: #fff">{{almacenNombre}} está cerrado momentáneamente en Riing.com.co</h2>
            <p style="color: #fff"> Pide ahora en linea a alguno de nuestros aliados abiertos</p>
          </div>
          <button (click)="shopClosed.hide()" type="submit" class="btn btn-submit">Entendido</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->