<!-- Footer ================================================== -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 hidden-xs">
        <h3>Acerca</h3>
        <ul>
          <li><a routerLink="/company/contact" >Contáctanos</a></li>
          <li><a (click)="openLoginModal()">Loguearse</a></li>
          <li><a (click)="openRegisterModal()">Registrarse</a></li>
          <li><a routerLink="/company/terms-and-conditions">Términos y condiciones</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 hidden-xs" id="newsletter">
        <h3>Noticias</h3>
        <p>
          Suscríbete para mantenerte informado acerca de nuestras ofertas y noticias.
        </p>
        <div id="message-newsletter_2">
        </div>
        <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
          <div class="form-group">
            <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Tu correo electrónico"
              class="form-control">
          </div>
          <input type="submit" value="Suscribirse" class="btn_1" id="submit-newsletter_2">
        </form>
      </div>
    </div><!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a rel="noopener" href="https://www.instagram.com/riing.com.co/?r=nametag" target="_blank"><i class="icon-instagram"></i></a></li>
          </ul>
          <p>
            © Riing 2020
          </p>
        </div>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</footer>
<!-- End Footer =============================================== -->
<div class="layer"></div><!-- Mobile menu overlay mask -->
