<div class="modal-body">
  <div class="modal-content modal-popup">
    <a (click)="resetPasswordModal.hide()" class="close-link"><i class="icon_close_alt2"></i></a>
    <form [formGroup]='resetPasswordForm' #f="ngForm" class="popup-form" id="myLogin">
      <div class="login_icon"><i class="icon_lock_alt"></i> Recuperar Contraseña</div>
      <div class="form-group row">
        <div class="col-md-12 error_message" *ngIf="resetError">
          El usuario no se encuentra registrado
        </div>
        <div class="col-md-12 error_message" *ngIf="submit && !resetError">
          Hemos enviado un mail a tu correo electrónico
        </div>
        <div class="col-md-12">
          <input type="text" formControlName="email" class="form-control form-white" placeholder="Correo Electrónico">
          <div *ngIf="resetPasswordForm.controls['email'].errors?.required && (resetPasswordForm.controls['email'].dirty || resetPasswordForm.controls['email'].touched || submit)"
            class="error_message">
            El email es necesario
          </div>
          <div *ngIf="resetPasswordForm.controls['email'].errors?.email"
            class="error_message">
            Digita un email valido
          </div>
        </div>
      </div>
      <button (click)="onSubmit()" type="submit" class="btn btn-submit">Recuperar Contraseña</button>
    </form>
  </div>
</div>