.tipo_negocio{
    font-size: 40px !important
}

.btn_continue {
    color: #fff;
    padding: 10px;
    background: #ff8a33;
    font-weight: 600;
    outline: none;
    transition: all 0.2s ease;
    font-size: 12px;
    border-radius: 8px;
}