<!-- SubHeader =============================================== -->
<section class="parallax-window parallax_img" id="short" data-parallax="scroll" data-natural-width="1400"
  data-natural-height="350">
  <div id="subheader">
    <div id="sub_content" *ngIf="type">
      <h1 class="tipo_negocio">{{type.descripcion}}</h1>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
  <div class="container">
  </div>
</div><!-- Position -->

<div class="collapse" id="collapseMap">
  <div id="map" class="map"></div>
</div><!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">

    <!--<div class="col-md-3">
      <p>
        <a (click)="navigateToTypes()" class="btn_side">Regresar</a>
      </p>

      <div id="filters_col">
        <a data-toggle="collapse" (click)="collapseFilterFunc()" [ngClass]="{'collapsed': !collapseFilter}" aria-controls="collapseFilters" id="filters_col_bt">Filters
          <i class="icon-plus-1 pull-right"></i></a>
        <div class="collapse" [ngClass]="{'in': collapseFilter}" id="collapseFilters">
          <div class="filter_type">
            <h6>Distance</h6>
            <input type="text" id="range" value="" name="range">
            <h6>Type</h6>
            <ul>
              <li><label><input type="checkbox" checked class="icheck">All <small>(49)</small></label></li>
              <li><label><input type="checkbox" class="icheck">American <small>(12)</small></label><i class="color_1"></i></li>
              <li><label><input type="checkbox" class="icheck">Chinese <small>(5)</small></label><i class="color_2"></i></li>
              <li><label><input type="checkbox" class="icheck">Hamburger <small>(7)</small></label><i class="color_3"></i></li>
              <li><label><input type="checkbox" class="icheck">Fish <small>(1)</small></label><i class="color_4"></i></li>
              <li><label><input type="checkbox" class="icheck">Mexican <small>(49)</small></label><i class="color_5"></i></li>
              <li><label><input type="checkbox" class="icheck">Pizza <small>(22)</small></label><i class="color_6"></i></li>
              <li><label><input type="checkbox" class="icheck">Sushi <small>(43)</small></label><i class="color_7"></i></li>
            </ul>
          </div>
          <div class="filter_type">
            <h6>Rating</h6>
            <ul>
              <li><label><input type="checkbox" class="icheck"><span class="rating">
                    <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                      class="icon_star voted"></i><i class="icon_star voted"></i>
                  </span></label></li>
              <li><label><input type="checkbox" class="icheck"><span class="rating">
                    <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                      class="icon_star voted"></i><i class="icon_star"></i>
                  </span></label></li>
              <li><label><input type="checkbox" class="icheck"><span class="rating">
                    <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i
                      class="icon_star"></i><i class="icon_star"></i>
                  </span></label></li>
              <li><label><input type="checkbox" class="icheck"><span class="rating">
                    <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i
                      class="icon_star"></i>
                  </span></label></li>
              <li><label><input type="checkbox" class="icheck"><span class="rating">
                    <i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i
                      class="icon_star"></i>
                  </span></label></li>
            </ul>
          </div>
          <div class="filter_type">
            <h6>Options</h6>
            <ul class="nomargin">
              <li><label><input type="checkbox" class="icheck">Delivery</label></li>
              <li><label><input type="checkbox" class="icheck">Take Away</label></li>
              <li><label><input type="checkbox" class="icheck">Distance 10Km</label></li>
              <li><label><input type="checkbox" class="icheck">Distance 5Km</label></li>
            </ul>
          </div>
        </div>
    </div>
  </div>-->
    <!--End col-md -->

    <div class="col-md-12">

      <!--<div id="tools">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="styled-select">
          <select name="sort_rating" id="sort_rating">
            <option value="" selected>Sort by ranking</option>
            <option value="lower">Lowest ranking</option>
            <option value="higher">Highest ranking</option>
          </select>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 hidden-xs">
        <a href="list_page.html" class="bt_filters"><i class="icon-list"></i></a>
      </div>
    </div>
  </div>-->
      <!--End tools -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p>
            <a (click)="navigateToTypes()" class="btn_side"><i class="icon-right"></i> Regresar</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 wow zoomIn" *ngFor="let shop of shops;let i = index">
          <a class="strip_list grid" (click)="navigateToProducts(shop.id, i)">
            <div *ngIf="!shop.visible" class="ribbon_1">Cerrado</div>
            <div class="desc">
              <div class="thumb_strip">
                <img [src]="getUrl(shop.id)" onError="this.src='../../../assets/img/riing.webp'" alt="">
              </div>
              <h3>{{shop.usuario.nombre}}</h3>
              <!--<div class="type">
                Mexican / American
              </div>-->
              <div class="location">
                Pedido
                Minimo: {{shop.pedido_minimo | currency : 'USD' : 'symbol' : '1.0-0'}} <br>
                {{shop.usuario.ubicaciones[0].direccion}}
              </div>
              <!--<ul>
                <li>Take away<i class="icon_check_alt2 ok"></i></li>
                <li>Delivery<i class="icon_check_alt2 ok"></i></li>
              </ul>-->
            </div>
          </a><!-- End strip_list-->
        </div><!-- End col-md-6-->
      </div><!-- End row-->

      <!--<a href="#0" class="load_more_bt wow fadeIn">Load more...</a>-->
    </div><!-- End col-md-9-->

  </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->

<div bsModal #shopClosed="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-popup">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h2 style="color: #fff"> <i style="font-size: 80px;" class="icon_clock_alt"></i> <br> Cerrado En Este Momento </h2>
            <br>
            <h4 style="color: #fff">El establecimiento se encuentra cerrado en este momento, solo puedes ver la lista de
              productos. <br>¿Deseas continuar?</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <button (click)="shopClosed.hide()" type="submit" class="btn btn_full">No, gracias</button>
          </div>
          <div class="col-xs-6 col-md-6">
            <button (click)="navigateToProductsFromModal()" type="submit" class="btn btn_continue">SI, CONTINUAR</button>
          </div>

        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->