<div class="modal-body">
  <div class="modal-content modal-popup">
    <a (click)="loginModal.hide()" class="close-link"><i class="icon_close_alt2"></i></a>
    <form [formGroup]='loginForm' #f="ngForm" class="popup-form" id="myLogin">
      <div class="login_icon"><i class="icon_lock_alt"></i> Iniciar Sesión</div>
      <div class="form-group row">
        <div class="col-md-12 error_message" *ngIf="loginError">
          El usuario o contraseña son incorrectos
        </div>
        <div class="col-md-12">
          <input type="text" formControlName="email" class="form-control form-white" placeholder="Correo Electrónico">
          <div *ngIf="loginForm.controls['email'].errors?.required && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched || submit)"
            class="error_message">
            El email es necesario
          </div>
          <div *ngIf="loginForm.controls['email'].errors?.email"
            class="error_message">
            Digita un email valido
          </div>
        </div>
        <div class="col-md-12">
          <input type="password" class="form-control form-white" formControlName="contrasena" placeholder="Contraseña">
          <div *ngIf="loginForm.controls['contrasena'].errors?.required && (loginForm.controls['contrasena'].dirty || loginForm.controls['contrasena'].touched || submit)"
            class="error_message">
            La contraseña es necesaria
          </div>
        </div>
      </div>
      <div class="text-left">
        <a (click)="openResetPasswordModal()">Olvidaste tu contraseña?</a><br>
        <a (click)="openRegisterModal()">No tienes cuenta? <span class="login_resgister">Registrarme</span></a>
      </div>
      <button (click)="onSubmit()" type="submit" class="btn btn-submit">Ingresar</button>
    </form>
  </div>
</div>